/*Estructura de css
selector
{
    propiedad: valor
}    
*/
body
{
    background-color: #f087de;
    margin-left: 0px;
	margin-top: 60px;
	margin-right: 0px;
	margin-bottom: 0px;
}

main{
    width: 100%;
}

h1,h2
{
    text-align: center;
}

header{
    background-image: url('../img/header.jpg');
    height: 300px;
    display: flex;
    justify-content: center;
}

header h1{

    color: #ffffff;
    font-family:"arial";
    font-size: 3rem;
    padding: 10px;
    width: 600px;

}

nav {
    height: 50px;
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
}

nav ol li {

    font-family: "Verdana";
    display: inline;
    color: white;
    padding: 15px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgb(17, 16, 16);
    border-radius: 10px;
}

article{
    padding-top: 100px ;
    background: linear-gradient(red,yellow);
    width: 80% !important;
    margin-left: 10%;
    font-family: "Georgia";
    font-size: 1.5em;
}

article#Aceite{
    background: linear-gradient(blue,black);
    color: #ddcfcf;
}

nav ol li a{
    text-decoration: none;
    color: white;
}

nav ol li:hover {
    background-color: blueviolet;
    color: black;
    box-shadow: 5px 3px 5px;
    
}

nav ol li a:hover{
    color: black;
}