body
{
    background:#a7a0a5 ;
    margin-left: 0px;
	margin-top: 60px;
	margin-right: 0px;
	margin-bottom: 0px;
}

h1,h2{
    text-align: center;
    font-family:Geneva;
    font-size: 2em;
}

header{
    background-image: url("https://previews.123rf.com/images/anaumenko/anaumenko1608/anaumenko160800133/62396884-ingredientes-para-hornear-en-el-fondo-r%C3%BAstico-vista-superior-banner-de-formato-largo.jpg");
    height: 200px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    justify-content: center;
}

header h1{
  
    color: #000000;
    font-family:"Geneva";
    font-size: 6em;
    padding: 40px 0px 0px 0px;
    width: 800px;
    height: 30px;
    text-decoration: underline;
}

nav {
    height: 50px;
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
}

nav ol li {
    font-family: "Verdana";
    display: inline;
    color: white;
    padding: 15px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgb(17, 16, 16);
    border-radius: 10px;
}

article{
    padding: 50px;
    background: linear-gradient(#a7a0a5,#827876);
    width: 80% !important;
    margin-left: 10%;
    font-family: "Georgia";
    font-size: 1.5em;
}

nav ol li a{
    text-decoration: none;
    color: white;
}

nav ol li:hover {
    background-color: blueviolet;
    color: black;
    box-shadow: 5px 3px 5px;
    
}

nav ol li a:hover{
    color: black;
}

.contenedor{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
}

.contenedor img {
    border-radius: 100%;
    height: 400px;
    width: 500px;
}    

.contenedordos{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
}

article#Principal h4{
    text-decoration: underline;  
}

article#Principal h5{
    text-decoration: underline;  
}

article#Principal h3{
    text-decoration: underline;  
}

.elaborado{
    margin: 50px;
}