header{
    text-align: center;
}

nav {
    background-color: aqua;
    height: 50px;
    position: fixed;
    top: 0px;
    left: 500px;
    justify-content: center;
}

nav ol li {
    display: inline;
    color: white;
    padding: 15px;
    margin: 0px 10px;
    background-color: rgb(17, 16, 16);

}

h2 {
    text-align: left;
    background-color: aqua;
    width: 10%;
    margin-left: 4%;
}

